h1,
h2,
h3 {
  font-family: "PT Serif", serif;
  color: #062c80;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}
input {
  background-color: antiquewhite;
  border: 2px outset #05205b;
}
span {
  margin: 40px 100px;
}
.daily_forecast {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(149, 219, 254) 0%,
    rgb(7, 134, 197) 90.1%
  );
  display: block;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  border: 2px outset #05205b;
}
